
*{
  box-sizing: border-box;
  justify-content: center;
}


    body {
      font-family: Arial, sans-serif;
      background-color: white;
      text-align: center;
    }
    h1{
      text-transform: uppercase;
      text-align: center;
      color: purple;
      font-size: 2em;
      margin-top: 20px;
    }
    .headers{
      position: fixed;
      top:0;
      right: 0;
      left:0;
      height: 20%;
      background-image: linear-gradient(45deg,rgba(128, 0, 128, 0.568),blue);
    }
    #chat-log {
      padding: 10px;
      overflow-y: scroll;
      background-image:'';
      border:0;
      position: fixed;
      top:20%;
      right: 0;
      left: 0;
      bottom: 8%;
      background-color:grey;
    }
    .msg-sender-holder{
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      height: 8%;
      background-image: linear-gradient(45deg,blue,purple);
    }
    .input{
      padding: 10px;
      margin:10px;
      border:0;
      background-color:grey;
      border-radius:10px;
      color:purple;
      text-transform: capitalize;
    }
    .input::placeholder{
      color: blue;
    }
    .name{
      background-color: red;
    }
    .btn{
      padding: 10px;
      background-color: blue;
      border-radius:5px;
      border:0;
      color:white;
    }
    .msg{
      background-color:rgb(2, 36, 109);
      padding:10px;
      border-radius: 10px 10px 10px 10px;
      align-items:start;
      word-wrap: break-word;
      text-align: left;
      color: white;
      max-width:300px;
    }
